::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    padding: 0 5px !important;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    padding: 0 5px !important;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    padding: 0 5px !important;
}
